input[type="checkbox"] {
    all: unset;

    width: 1rem;
    aspect-ratio: 1/1;

    background: url(../../assets/checkbox.svg) no-repeat center / contain;

    cursor: pointer;
    
    &:hover {
        background: url(../../assets/checkbox-hover.svg) no-repeat center / contain;
    }

    &:checked {
        background: url(../../assets/checkbox-checked.svg) no-repeat center / contain;
    }
}